<div class="arrowBack">
      <a href="/"><i class="fa-solid fa-circle-arrow-left"></i></a>
</div>


<div class="formSignup">
      <form action="/events/create" method="POST" enctype="multipart/form-data">
            <h2 class="titleCS">Create a new event</h2>

            <div class="containerCS">
                  <input type="text" class="inputCity" name="location" placeholder="Set your spot / Online"/>
            </div>

            <h6 class="titleC6">Date & Time</h6>

            <div class="containerCS">
                  <input type="date" class="inputBD" name="datetime"/>
            </div>

            <h6 class="titleC6">Max Assisstants</h6>

            <div class="containerCS">
                  <input class="inputEmailC" type="number" name="maxAssistants" placeholder="2 - 8" />
            </div>

            <h6 class="titleC6">Event Description</h6>

            <div class="containerCS">
                  <input type="text" class="inputUser" name="description" placeholder="Description" />
            </div>

            <h6 class="titleC6">Select language for event:</h6>

            <div class="containerCS">
                  <select class="select" name="language">
                        <option value="Spanish">Spanish</option>
                        <option value="English">English</option>
                        <option value="Catalan">Catalan</option>
                        <option value="French">French</option>
                        <option value="Deutsch">Deutsch</option>
                  </select>
            </div>

            <div class="containerCS">
                  <button class="signButton" type="submit">Post event</button>
            </div>
      </form>
      {{#if error}}
      <p style="color: red;" class="errorLC">{{error}}</p>
      {{/if}}
</div>
