<div class="arrowBack">
  <a href="/"><i class="fa-solid fa-circle-arrow-left"></i></a>
</div>


<div class="formSignup">
        <form action="/events/create" method="POST" enctype="multipart/form-data">
            <h2 class ="titleCS">Create a new event</h2>

            <div class="containerCS">
                  <input type="text" class="inputCity" name="location" placeholder="Presential/Online"/>
            </div>

            <h6 class="titleC6">Date & Time</h6>

              <div class="containerCS">
                  <input type="date" class="inputBD" name="datetime"/>
            </div>

            <div class="containerCS">
                  <input class="inputEmailC" type="email" name="email" placeholder="Email" />
            </div>

            <div class="containerCS">
                  <input type="text" class="inputUser" name="username" placeholder="Choose your username" />
            </div>

            <div class="containerCS">
                  <input class="inputC" type="password" name="password" placeholder="Password" />
            </div>

            <div class="containerCS">
                  <input class="inputC" type="password" name="confirmPassword" placeholder="Confirm password" />
            </div>

            <h5 class="titleCS">Tell us more about you:</h5>



            <div class="containerCS">
                  <input type="text" class="inputName" name="fullname" placeholder="John Doe" />
            </div>

            <h6 class="titleC6">Select languages you speak or you want to improve:</h6>

            <div class="containerCS">
                  <select class="select" name="languageSkills" multiple>
                        <option value="Spanish">Spanish</option>
                        <option value="English">English</option>
                        <option value="Catalan">Catalan</option>
                        <option value="French">French</option>
                        <option value="Deutsch">Deutsch</option>
                  </select>
            </div>

            <h6 class="titleC6">Choose profile pic!</h6>

            <div class="containerCS">
                  <input class="addImg" type="file" name="imageProfile" value="" />
                  <input type="string" name="imgProfileDefault" hidden value="/images/ProfilePNG.png">
            </div>

            <div class="containerCS">
                  <button class="signButton" type="submit">Create account</button>
            </div>
      </form>
            {{#if error}}
            <p style="color: red;" class="errorLC">{{error}}</p>
            {{/if}}
</div>

    
    <div>
      <label>Assisstants</label>
      <br>
      <input type="number" name="maxAssistants" {{#if event}} value="{{event.maxAssistants}}"{{/if}}/>
    </div>
    
    <div>
      <label>Description</label>
      <br>
      <input type="text" name="description" {{#if event}} value="{{event.description}}"{{/if}}/>
    </div>
    
  <div>
      <label>Language</label>
      <br>
      <select name="language">
            <option value="Spanish">Spanish</option>
            <option value="English">English</option>
            <option value="Catalan">Catalan</option>
            <option value="French">French</option>
            <option value="Deutsch">Deutsch</option>
      </select>

      {{#if error}}
      <p style="color: red;">{{error}}</p>
      {{/if}}
  </div>
   
 
    <button type="submit">Create Event</button>
 
  </form>
</div>
