<div class="arrowBack">
  <a href="/"><i class="fa-solid fa-circle-arrow-left"></i></a>
</div>

<div class="createEvent">
<h1>Create new event</h1>
  <form action="/events/create" method="POST">

    <div>
      <label>Location</label>
    <br>
    <input type="text" name="location" placeholder="Presential/Online" {{#if event}} value="{{event.location}}"{{/if}} />
    </div>
    
    <div>
        <label>Date & Time</label>
    <br>
    <input type="datetime-local" name="datetime" placeholder="" />
    </div>
    
    <div>
      <label>Assisstants</label>
      <br>
      <input type="number" name="maxAssistants" {{#if event}} value="{{event.maxAssistants}}"{{/if}}/>
    </div>
    
    <div>
      <label>Description</label>
      <br>
      <input type="text" name="description" {{#if event}} value="{{event.description}}"{{/if}}/>
    </div>
    
  <div>
      <label>Languages</label>
      <br>
      <select name="language">
            <option value="Spanish">Spanish</option>
            <option value="English">English</option>
            <option value="Catalan">Catalan</option>
            <option value="French">French</option>
            <option value="Deutsch">Deutsch</option>
      </select>

      {{#if error}}
      <p style="color: red;">{{error}}</p>
      {{/if}}
  </div>
   
 
    <button type="submit">Create Event</button>
 
  </form>
</div>