
<div class="arrowBack">
  <a href="/events/"><i class="fa-solid fa-circle-arrow-left"></i></a>
</div>

<div class="userDetail">
   <h2>{{organiser.username}} Profile</h2>
  Events created:
  <ul>
 {{#each events}}
 <li>{{this.location}}</li>
 {{/each}}
</ul>

</div>
