<div class="arrowBack">
  <a href="/events"><i class="fa-solid fa-circle-arrow-left"></i></a>
</div>

<div class="userDetail">

  {{#if organiser.imageProfile}}
  <img src="{{ organiser.imageProfile }}" width="30px" height="auto" alt="imageProfile">
  {{else}}
  <i style="width: 25px" class="fa-solid fa-user"></i>
  {{/if}}

  <h2>{{organiser.username}} </h2>

  <div class="userDetail2">
    <h4> Events joined <i class="fa-solid fa-calendar-check"></i> </h4>
    <ul>
      {{#each events}}
      <li>{{this.location}}</li>
      {{/each}}
    </ul>
  </div>

</div>