
<div class="arrowBack">
  <a href="/events/"><i class="fa-solid fa-circle-arrow-left"></i></a>
</div>

<div class="userDetail">
   <h2>{{organiser.username}} Profile</h2>
 
 {{#each events}}
    Events created: {{this.location}}
 {{/each}}


</div>
