
<div class="arrowBack">
  <a href="/events/"><i class="fa-solid fa-circle-arrow-left"></i></a>
</div>

<div class="userDetail">
   <h2>{{organiser.username}} Profile</h2>

   
        {{#if organiser.imageProfile}}
        <img src="{{ organiser.imageProfile }}" width="30px" height="30px" alt="imageProfile">
        {{else}}
        <i style="width: 25px" class="fa-solid fa-user"></i>
        {{/if}}
     

      <br>

  Events created:
  <ul>
 {{#each events}}
 <li>{{this.location}}</li>
 {{/each}}
</ul>

</div>
