<div class="arrowBack">
  <a href="/auth/profile"><i class="fa-solid fa-circle-arrow-left"></i></a>
</div>

    <div class="deleteConfirm">
        <i class="fa-solid fa-triangle-exclamation"></i>

     <h3> Are you sure you want to delete this account? </h3>


        
        <form action="/auth/delete" method="POST">
            <button type="submit">Delete account</button>
        </form>

    </div>
  
   