
<div class="arrowBack">
  <a href="/"><i class="fa-solid fa-circle-arrow-left"></i></a>
</div>

<div class="formLogin">
  <form action="/auth/login" method="POST">
 
  <h2 class="titleC">Welcome back!</h2>

 <div class="containerC">
    <input class="inputEmailC" type="email" name="email" placeholder="Email" />
 </div>
  
<div class="containerC">
    <input class="inputC" type="password" name="password" placeholder="Password" />
</div>
    <button type="submit" class="loginButton">Login</button>
  </form>
    {{#if error}}
    <p style="color:rgb(218, 90, 90)" class="errorLC">{{ error }}</p>
    {{/if}}
</div>