<a href="/">
<img src="/images/arrow-back.png" alt="arrowBack">
</a>


<h2>Welcome Back!</h2>

<div>
  <form action="/auth/login" method="POST">
 
    <label>Email</label>
    <input type="email" name="email" placeholder="john@doe.com" />
    <br>
    <label>Password</label>
    <input type="password" name="password" placeholder="********" />
     <br>
      <label>Remember me</label>
    <input type="radio" name="rememberMe" />
     <br>
    {{#if error}}
    <p style="color:rgb(218, 90, 90)">{{ error }}</p>
    {{/if}}
    
    <button type="submit">Login</button>

  </form>
</div>