
<div class="arrowBack">
  <a href="/">
    <img src="/images/arrow-back.png" alt="arrowBack" width="20px">
  </a>
</div>

<div class="formLogin">
  <form action="/auth/login" method="POST">
 
  <h2>Welcome Back!</h2>

 <div>
    <label>Email</label>
    <br>
    <input type="email" name="email" placeholder="john@doe.com" />
 </div>
  
<div>
   <label>Password</label>
    <br>
    <input type="password" name="password" placeholder="********" />
</div>
   
<div>
    <label>Remember me</label>
    <input type="radio" name="rememberMe" />
    {{#if error}}
    <p style="color:rgb(218, 90, 90)">{{ error }}</p>
    {{/if}}
</div>
  
    
    <button type="submit" class="loginButton">Login</button>

  </form>
</div>