
<div class="welcomeUser">
    <h1>Welcome {{user.username}}</h1>
</div>

<div class="speak">
    <p>You speak:</p>
    <ul>
    {{#each user.languageSkills}}
    <li>{{this}}</li>
    {{/each}}
    </ul>
<a href="/auth/profile/edit">Edit your profile</a>
<form action="/auth/logout" method="POST"><button type="submit"><i class="fa-solid fa-right-from-bracket"></i></button></form>
</div>
