
<div class="arrowBack">
  <a href="/">
    <img src="/images/arrow-back.png" alt="arrowBack" width="20px">
  </a>
</div>

<div class="welcomeUser">
    <h2>Welcome {{user.username}}</h2>
    <p>You speak:</p>
    <ul>
    {{#each user.languageSkills}}
    <li>{{this}}</li>
    {{/each}}
    </ul>

<a href="/auth/profile/edit">Edit your profile</a>
<form action="/auth/logout" method="POST"><button type="submit">Logout <i class="fa-solid fa-right-from-bracket"></i></button></form>
<form action="/auth/delete" method="POST"><button type="submit">Delete your account <i class="fa-solid fa-trash"></i></button></form>
</div>
