
<div class="welcomeUser">
    <h1>Welcome {{username}}</h1>
</div>

<div class="speak">
    <p>You speak:</p>
    <ul>
    {{#each languageSkills}}
    <li>{{this}}</li>
    {{/each}}
    </ul>
<a href="/auth/profile/edit">Edit your profile</a>
</div>
