<div class="arrowBack">
      <a href="/"><i class="fa-solid fa-circle-arrow-left"></i></a>
</div>

<div class="formSignup">
      <form action="/auth/signup" method="POST" enctype="multipart/form-data">
            <h2 class="titleCS">Create a new account</h2>

            <div class="containerCS">
                  <input class="inputEmailC" type="email" name="email" placeholder="Email" />
            </div>

            <div class="containerCS">
                  <input type="text" class="inputUser" name="username" placeholder="Choose your username" />
            </div>

            <div class="containerCS">
                  <input class="inputC" type="password" name="password" placeholder="Password" />
            </div>

            <div class="containerCS">
                  <input class="inputC" type="password" name="confirmPassword" placeholder="Confirm password" />
            </div>

            <h5 class="titleCS">Tell us more about you:</h5>

            <h6 class="titleC6">Full name</h6>

            <div class="containerCS">
                  <input type="text" class="inputName" name="fullname" placeholder="John Doe" />
            </div>

            <h6 class="titleC6">Birth date</h6>

            <div class="containerCS">
                  <input type="date" class="inputBD" name="dateOfBirth" />
            </div>

            <h6 class="titleC6">Living city</h6>

            <div class="containerCS">
                  <input type="text" class="inputCity" name="livingCity" placeholder="Barcelona" />
            </div>

            <h6 class="titleC6">Select languages you speak or you want to improve:</h6>

            <div class="containerCS">
                  <select class="select" name="languageSkills" multiple>
                        <option value="Spanish">Spanish</option>
                        <option value="English">English</option>
                        <option value="Catalan">Catalan</option>
                        <option value="French">French</option>
                        <option value="Deutsch">Deutsch</option>
                  </select>
            </div>




            <div class="containerCS">
                  <label for="addImg" id="custom-file-upload"></label>
                  <input id="addImg" type="file" name="imageProfile" value="" />
                  <input type="string" name="imgProfileDefault" hidden value="/images/ProfilePNG.png">
            </div>

            <h6 class="titleC6"><i class="fa-solid fa-upload" id="upload-icon-signup"></i>Choose profile pic!</h6>

            <div class="containerCS">
                  <button class="signButton" type="submit">Create account</button>
            </div>
      </form>
      {{#if error}}
      <p style="color: red;" class="errorLC">{{error}}</p>
      {{/if}}
</div>