
<div class="notFoundPage">


<div class="Font404">
    <h1>Page {{ path }} not found</h1>    
</div>

<img class="homer" src="http://www.antena3.com/newa3flash/modulos_blancos/se_estrena/homerbush.gif" alt="">

<a class="button404" href="/">Go back home</a>

</div>