<div class="imageIndex">
    <div id="iTalk">
        <h1>iTalk</h1>
    </div>

    <div class="iconIndex">
        <i class="fa-solid fa-chevron-down"></i>
    </div>

</div>





<div class="indexText">
    <h2><strong>Welcome to iTalk!</strong></h2>
    <p>This is the first local community of fanatic native and foreign talkers.</p>
    <p>Join us to improve your talking skills in any language while having a great time with other iTalkers.
        Just choose an spot in your city or set an online meeting, a time and the language that you would like to
        practice or teach others!
        Go ahead and check map!</p>
    <a href="/events/map" class="createButton">Check map!</a>

</div>