<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='/stylesheets/style.css' rel="stylesheet"/>
  <title>Project module 2</title>
</head>
<body>
  <div class="main">
 {{{ body }}}
  <nav class="nav">
    {{#unless user}}
    <a href="/auth/login">Log in</a>
    <a href="/auth/signup">Sign up</a>
    <a href="/events">View local events</a>
    {{else}}
    <a href="/events">View local events</a>
    <a href="/events/create">Post event</a>
    <a href="/auth/profile">My profile</a>
    <form action="/auth/logout" method="POST"><button type="submit">Log out</button></form>
    {{/unless}}    
  </nav>
  </div>
</body>
</html>