<div class="arrowBack">
    <a href="/events"><i class="fa-solid fa-circle-arrow-left"></i></a>
</div>



<form class="messageForm" action="/messages/write" method="POST">
    <h2>Write your message</h2>
    <input class="messageBox" type="text" name="text" placeholder="Your message here" />
    <button type="submit"> Send Message</button>
</form>