
/**** Color variables ****/
:root {
  --primary-yellow: #FEF8B2;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-yellow);
  
}


.definition {
  padding-bottom: 100px;
}

.imageIndex {
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to top, #fef8b2, #d2c18f, #a28e6f, #6f6050, #3d3733);
}

/* LAYOUT AND INDEX */

.nav {
  position: fixed;
  bottom: -5px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 40px;
  background-color: #3D3733;
  border-radius: 20px 20px 0px 0px;
  
}

.nav a{
  text-decoration: none;
  padding: 20px;
  color: #F2F2F2;
  
}

.nav a i {
  font-size: 25px;
}

.nav a img {
  width: 30px;
  border-radius: 50%;
}

#iTalk{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 40%;
  gap: 150px;
}

#iTalk h1 {
  font-size: 50px;
  color: #F2F2F2;
  font-weight: 900;
}



.indexText {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  padding: 30px;
  height: 500px;
  gap: 15px;
  font-weight: 540;
  font-size: 18px;
  position: relative;
  bottom: 50px;
}

/* LOG IN */

.arrowBack{
  padding: 10px 20px;
  position:fixed;
  top: 0;
  z-index: 5;
  
}

.arrowBack a {
  color: #3D3733;
}

.arrowBack a i {
  font-size: 25px;
}

.formLogin{
  padding: 10px 20px;
  position: relative;
  top: 40px; 
  
}

.formLogin form{
  height: 480px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.loginButton{
  position: relative;
  top: 200px;

  background-color: #3D3733;
  color: #F2F2F2;
  padding: 10px 102px;
  border-radius: 20px;
  border: none;
}

/* SIGN UP */
.formSignup{
  padding: 0px 20px;
  height: 1200px;
}

.formSignup form{
  height: 480px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
  top: 40px;
}

.createAccountButton{
  background-color: #3D3733;
  color: #F2F2F2;
  padding: 10px 102px;
  border-radius: 20px;
  border: none;
}

/* USER PROFILE */

.welcomeUser {
  padding: 10px 20px;
  position: relative;
  top: 40px; 

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profileButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
  position: relative;
  top: 50px;
}

.editProfileButton {
  
  background-color: #3D3733;
  color: #F2F2F2;

  padding: 10px 80px;
  border-radius: 20px;
 
}

.logoutButton button {
  
  background-color: #3D3733;
  color: #F2F2F2;

  padding: 10px 102px;
  border-radius: 20px;
  border: none;
}

.deleteAccountButton button {
  background-color: #FEF8B2;
  color: #3D3733;

  padding: 10px 50px;
  border-radius: 20px;
  border: 2px solid #3D3733;
  
}

/* EDIT PROFILE */

.editProfileForm{
  padding: 10px 20px;
  position: relative;
  top: 40px; 

  display: flex;
  flex-direction: column;
  gap: 20px;

  height: 800px;
}

.editProfileForm form{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modifyProfileButton{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modifyProfileButton button{
  background-color: #3D3733;
  color: #F2F2F2;

  padding: 10px 80px;
  border-radius: 20px;
}

/* EVENTS */
.allEvents{
  padding: 0px 20px;
  position: relative;
  top: 40px; 
  height: 1000px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.allEvents img{
  border-radius: 50%;
}
.createEvent{
  padding: 0px 20px;
  position: relative;
  top: 40px;
  
}

.createEvent form{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.createEvent button{
  background-color: #3D3733;
  color: #F2F2F2;
  padding: 10px;
  border-radius: 20px;
  border: none;
}

.eachEvent {

  display: flex;
  gap: 10px;

  padding: 10px;
  border-radius: 20px;
  background: white;
  box-shadow:  10px 10px 50px #afab7b,
               -10px -10px 50px #ffffe9;
 
}

.eventsDetail{
  padding: 10px 20px;
  position: relative;
  top: 40px;
  
}

.joinEventButton{
  flex-direction: column;
  display: flex;
  align-items: center;
  text-align: center;
}

.joinEventButton button {
  background-color: #3D3733;
  color: #F2F2F2;
  padding: 10px 102px;
  border-radius: 20px;
  border: none;
}

.dateTime {
  color: red;
  font-weight: 700;
}

.pevent a {
  color: #3D3733;
  font-weight: 700;
}

/* USER DETAIL */

.userDetail{
  padding: 0px 20px;
  position: relative;
  top: 40px; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userDetail img{
  width: 150px;
  height: auto;
  border-radius: 50%;
}

.userDetail2{
display: flex;
flex-direction: column;
}

/* DELETE */

.deleteConfirm{
display: flex;
flex-direction: column;
gap: 50px;
align-items: center;
text-align: center;
margin-top: 80px;
}

.deleteConfirm i{
  font-size: 150px;
}

.deleteConfirm button{
  background-color: #FEF8B2;
  color: #3D3733;

  padding: 10px 50px;
  border-radius: 20px;
  border: 2px solid #3D3733;
}


/* 404 */

.notFoundPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  
  font-family: 'Titan One', cursive;
}

.Font404{
  margin-top: 20px;
  margin-left: 50px;
}

.homer{
  width: 350px;
}

.button404{
  background-color: #3D3733;
  color: #F2F2F2;
  padding: 10px;
  border-radius: 20px;
  border: none;
  margin: 20px;
}

