body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Spline Sans Mono', monospace;
}

/* MAIN */

.main {
  height: 80vh;
  
}

.definition {
  padding-bottom: 100px;
}

.imageIndex {
  height: 100vh;
  background-repeat: no-repeat;
  background-image: url('https://images.unsplash.com/photo-1562086780-1c95244efd6b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  
}

/* LAYOUT AND INDEX */

.nav {
  position: fixed;
  bottom: -5px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 40px;
  background-color: #0DCDAA;
  border-radius: 20px 20px 0px 0px;
  
}

.nav a{
  text-decoration: none;
  padding: 20px;
  color: #F2F2F2;
  
}

.nav a i {
  font-size: 25px;
}

#iTalk{
  display: flex;
  justify-content: center;
  position: relative;
  top: 40%;
}

#iTalk h1 {
  font-size: 50px;
  color: #F2F2F2;
}

.indexText {
  padding: 20px;
  height: 400px;
}

/* LOG IN */

.arrowBack{
  padding: 10px 20px;
  position:fixed;
  background-color: #F2F2F2;
  width: 100%;
  top: 0;
  z-index: 5;
}

.formLogin{
  padding: 0px 20px;
  position: relative;
  top: 7%;
}

.formLogin form{
  height: 480px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.loginButton{
  position: relative;
  top: 200px;
}

/* SIGN UP */
.formSignup{
  padding: 0px 20px;
  position: relative;
  top: 7%;
}

.formSignup form{
  height: 480px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* USER PROFILE */

.welcomeUser {
  padding: 0px 20px;
  position: relative;
  top: 7%; 
}


/* EVENTS */
.allEvents{
  padding: 0px 20px;
  position: relative;
  top: 7%; 
  height: 2000px;
  
}

.createEvent{
  padding: 0px 20px;
  position: relative;
  top: 7%; 
  
}

.createEvent form{
  display: flex;
  flex-direction: column;
  gap: 15px;
}


